@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: rgb(235 219 191);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    font-family: 'Press Start 2P', cursive;
    margin-top: 50px;
    color: rgb(42, 50, 66);
    text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.212);
}

.tutorial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 50, 66);
    color: rgb(240, 248, 255);
    width: 700px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 7px 10px 8px rgba(0, 0, 0, 0.212);
}

.tutorial h2 {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 20px;
}

.tutorial p, ol, ul, li {
    font-size: 20px;
    margin-bottom: 10px;
}

.tutorial b {
    color: rgb(217 237 255);
}

.tutorial span {
    color: #ff6c6c;
    font-weight: bold;
}

.tutorial img {
    margin: 20px 100px;
    display: flex;
    align-items: center;
}

.footer {
    background-color: rgb(42, 50, 66);
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.footer a{
    color: aliceblue;
    text-decoration: none;
}

i {
    font-size: 15px;
}

.footer a:hover {
    color: rgb(162, 193, 253);
}